
.navbar {
    margin-bottom: 0;
    background-color: #f4511e;
    z-index: 9999;
    border: 0;
    font-size: 20px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 4px;
    border-radius: 0;
    font-family: Open Sans;
    color: orangered;
    font-weight: bold;
}

.navbar li a, .navbar .navbar-brand {
    font-family: Open Sans;
    font-size: 20px;
    color: black;
    font-weight: bold;
}

.navbar-nav li a:hover, .navbar-nav li.active a {
    color: #ffffff !important;
    background-color: #f4511e !important;
    font-weight: bold;

}

.navbar-default .navbar-header .navbar-brand .navbar-toggle {
    border-color: #ffffff;
    color: #ffffff !important;
}

.navbar-brand{
    font-weight: bolder;
    font-family: "Open Sans";
    font-size: 20px;
    font-weight: bold;
}

#myNavbar{
    margin-right: 410px;
}

/* Add a gray background color and some padding to the footer */
.footerClass {
    background-color:lightgray;
    color: lightgray;
    width: auto;
    height: 45px;
    padding-bottom: 20px;
    margin-bottom: -3000px;
}

#row{
    bottom: 0px;
}

#navbarId {
    background-color: #ffffff;
    font-family: Open Sans bolder;
    font-size: large;
    color: #f4511e;
    align-content: center;
}

.link {
    stroke: #ccc;
    pointer-events: none;
}

.node text {
    color: black;
    pointer-events: none;
    font: 10px Open Sans;
}

.node {

    stroke-width: 1.5px;
}

.node .selected {
    stroke: white;
}

.unselected{
    stroke: white;
    stroke-width: 3px;
}


div.tooltip {
    position: absolute;
    width: 320px;
    height: auto;
    padding: 4px;
    font: 12px Open Sans;
    background: #f4e7db;
    border: 3px;
    border-radius: 2px;
    border: 3px solid #d4d4d4;
    z-index: 10000;
    pointer-events: none;
}

/*!* Creates a small triangle extender for the tooltip *!
div.tooltip:after {
    box-sizing: border-box;
    display: inline;
    font-size: 30px;
    width: 100%;
    line-height: 1;
    color: rgba(10, 10, 20, 0.15);
    content: "\25BC";
    position: absolute;
    text-align: left;
}

!* Style northward tooltips differently *!
div.tooltip.n:after {
    margin: -1px 0 0 0;
    top: 100%;
    left: 0;
}*/

.context-menu {
    position: absolute;
    display: none;
    background-color: rgba(10, 10, 20, 0.22);
    border-radius: 4px;
    font-family: Open Sans;
    font-size: 14px;
    width: auto;
    height: auto;
    border: 0px solid #000000;
    z-index: 20000000;
}

.context-menu ul {
    list-style-type: none;
    margin: 4px 0px;
    padding: 0px;
    cursor: default;
}

.context-menu ul li {
    padding: 4px 16px;
}

.context-menu ul li:hover {
    background-color: #ff671e;
    color: #fefefe;
}

.nav-tabs {
    margin-top: 5px;
}

/*For search box */
body {
    padding: 40px 0px;
}

#search {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);

    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;

    -webkit-transform: translate(0px, -100%) scale(0, 0);
    -moz-transform: translate(0px, -100%) scale(0, 0);
    -o-transform: translate(0px, -100%) scale(0, 0);
    -ms-transform: translate(0px, -100%) scale(0, 0);
    transform: translate(0px, -100%) scale(0, 0);
    z-index: 9999;
}

#search.open {
    -webkit-transform: translate(0px, 0px) scale(1, 1);
    -moz-transform: translate(0px, 0px) scale(1, 1);
    -o-transform: translate(0px, 0px) scale(1, 1);
    -ms-transform: translate(0px, 0px) scale(1, 1);
    transform: translate(0px, 0px) scale(1, 1);
    opacity: 100;
}

#searchForm{

}

#search input[type="search"] {
    position: absolute;
    top: 50%;
    width: 1200px;
    height: 60px;
    color: rgb(255, 255, 255);
    background: rgba(0, 0, 0,0.5);
    font-size: 18px;
    font-weight: 300;
    text-align: center;
    border: 0px;
    margin: 0px auto;
    margin-top: -340px;
    margin-left: 100px;
    padding-left: 30px;
    padding-right: 30px;
    outline: none;
}
#search .btn {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 60px;
    margin-top: -340px;
    margin-left: 580px;
    background-color: black;
    border-color: black;
}

.searchResMain{
    margin-bottom: 70px;
    margin-left: -120px;
    font-size: 25px;
}


#search .close {
    position: fixed;
    top: 50%;
    right: 40px;
    color: #fff;
    height: 60px;
    background-color: black;
    border-color: black;
    margin-top: -340px;
    opacity: 1;
    padding: 10px 17px;
    font-size: 17px;
}

#searchButton{
    background-color: #ffffff;
    /*color: black;*/
}

.searchbtn{
    margin-left: -80px;
    font-size: 20px;
}

.searchinputStyling{
    width: 650px;
    height: 50px;
    margin-top: 30px;
    margin-left: 430px;
}

.scholarlySearch{
    width:350px;
    height: 40px;
}

#scholarlySearch{

}
#header {
    height: 15px;
    color: white;
}

#footer {
    background: lightgray;
}

#exportSVG_glyphicons{
    font-size: 22px;
    color: black;
    top: 15px;
}

#exportData_glyphicons{
    font-size: 22px;
    color: black;
    top: 15px;
}

#clearSVG{
    width:25px;
    height:25px;
    margin-top:25px;
}

#enlarge_glyphicons{
    font-size: 22px;
    color: black;
    top: 15px;
}

#searchArea{
    border:1px solid black;
    font-family: Open Sans;
    height: 500px;
}

.startSize{
    width: 1055px;
    height: 720px;
    /* border-radius: 4px;*/
    position: relative;
}

.newSize{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 1500px;
    height: 100%;
    background: #ffffff;
    border: 0 none;
    padding: 0;
    margin: 0;
    z-index: 9999;
    cursor: default;
}

.searchsize{
    width: 465px;
    height: 530px;
    border-radius: 4px;
    margin-bottom: 40px;

}

#FacetsArea{

    height: 600px;
    border-radius: 4px;
    margin-bottom: -30px;
    margin-left: -14px;
    overflow:auto;
}

.fullscreen-svg{
    width: 2000px;
    height: 1000px;
}

.shrinked-svg{
    width: 1000px;
    height: 650px;
}

.svg-container {
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 100%;
    vertical-align: top;
    overflow: hidden;
}
.svg-content {
    display: inline-block;
    position: absolute;
    top: 30px;
    left: 0;
}

.pagination a {
    color: black;
    float: left;
    padding: 5px 8px;
    text-decoration: none;
    margin-left: 20px;
    transition: background-color .3s;
}

.pagination a.active {
    background-color: #396fad;
    color: white;
}

.graphpagination{
    /*border:1px solid black;*/
}

.graphpagination a {
    color: black;
    padding: 5px 8px;
    text-decoration: none;
    margin-left: 20px;
    transition: background-color .3s;
    align-content: center;
}

.graphpagination a.active {
    background-color:#c95426;
    color: white;

}

#tabContainer{
    height: 480px;

}

#resultTab{
    width: 430px;
}

#facetTab{
    width: 450px;
    padding: 5px;
}

#facetResults{
    overflow: scroll;
}

#pagination{
    margin-bottom: 0px;
    margin-left: 70px;
}

.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid black;
    width: 60px;
    height: 60px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
    /*positioning to center*/
    left:700px;
    right: 0px;
    bottom: 0px;
    top: 200px;
    position: fixed;
}

/* Safari */
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#overlay{
    height:100%;
    width:100%;
    background:gainsboro;
    position:fixed;
    left:0;
    top:0;
}

#logo{
    height: 650px;
    width: 750px;
    margin-left: 450px;
    margin-top: -60px;
}

.panel-heading {
    color: #fff !important;
    background-color: #ff5f36;
    padding: 0px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.panel {
    border: 1px solid #ff5f36;
    border-radius:0 !important;
    transition: box-shadow 0.9s;
}

.panel:hover {
    box-shadow: 10px 5px 40px rgba(0, 0, 0, 0.3);
}

.panel-heading {
    color: #fff !important;
    background-color: #f4511e !important;
    padding: 15px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.infoBox{
    margin-bottom: 130px;
    width: 550px;
    padding: 15px;
}

.panel-body p{
    font-size: large;
    text-align: left;
}

.node:hover{
    background-color: #eed;
    border-radius: 50px;
    margin: 20px;
    -webkit-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 1);
    -moz-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 1);
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 1);
}

.suggestionboxMain{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 750px;
    height: 500px;
    list-style-type: none;
    margin-top: -240px;
    margin-left: -360px;
    z-index: 99999;
}

.suggestionBoxscholarly{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 550px;
    list-style-type: none;
    margin-top: -240px;
    margin-left: 260px;
    z-index: 99999;
}


.suggestedItem{
    border: 1px solid #ddd;
    margin-top: -1px;
    background-color: #f6f6f6;
    text-decoration: none;
    font-size: 16px;
    color: black;
    display: block;
    cursor: pointer;

    outline: none;

}

.suggestedItem:hover:not(.header) {
    background-color: #eee;
}

.suggestedItem p{
    margin-left: 50px;
    color: green;
}

.svgBeginSize{
    width : 1050px;
    height : 580px;
}

.svgNewSize{
    width : 1450px;
    height : 600px;
}

#aTag{
    cursor: pointer;
}

#modalStyle{
    width: 1200px; /*1300px;*/
    height: auto;/*700px;*/
    margin-left: -300px;
    font-family: "Open Sans";
    z-index: 11000;

}

#tdHeader{
    width: 120px;
    padding: 2px;
}

#tdValue{
    width: 1060px;
    padding: 12px;
}

#hits{
    font-size: 12px;
    font-family: Open Sans;
}

#searchText{
    font-size: 12px;
    font-family: Open Sans;
}

#modalInput{
    width: 260px;
    height: 30px;
}

#addTagstyle{
    margin-top: 260px;
}

#resultList {
    margin-top: -85px;
}

#graphArea{
    border:1px solid black;
}

#setFont{
    font-size: medium;
    color: cornflowerblue;
    padding: 6px;

}

.mysuggestion {
    height:100px;
    border-color:black;
    overflow:auto;

}

#scholarlysuggestion{
    display:none;
}
.active1{
    background-color: rgba(10, 10, 20, 0.28);
}

.container {
    margin-top: 10px;
}
.nav-tabs > li {
    position:relative;
}
.nav-tabs > li > a {
    display:inline-block;
}
.nav-tabs > li > span {
    display:none;
    cursor:pointer;
    position:absolute;
    right: 6px;
    top: 8px;
    color: red;
}
.nav-tabs > li:hover > span {
    display: inline-block;
}

/*Styles for slider*/
.slider {
    width: 750px;
    position: relative;
    top: 30px;
}

.rename-menu{
    width: 100px;
    height: auto;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.44);
    background-color: rgba(0, 0, 0, 0.53);
    color: white;
    position: absolute;
    display: none;
}

.rename-menu ul{
    list-style: none;
    padding: 5px 0px 5px 0px;
}

.rename-menu ul li:not(.separator){
    padding: 10px 5px 10px 5px;
    border-left: 4px solid transparent;
    cursor: pointer;
}

.rename-menu ul li:hover{
    background: rgba(10, 10, 20, 0.52);
    color: white;
    border-left: 4px solid #666;
}
